{% extends 'adjusters/base.html' %}
{% block content %}
<div id="header">
<h2>Adjuster Portal</h2>
</div>
<div id="content">
    <p>{{ adjuster_details.name }}</p>
    {% if current_case %}
        <p>Policy Number: {{ current_case.Policy_Number }}</p>
        <p>Date of Claim: {{ current_case.Claim_Date }}</p>
        <p>Other Party Details:</p>
        <p>Name: {{ current_case.Other_party_Name }}</p>
        <p>Insurance Company: {{ current_case.Other_party_Insurance_company_Name }}</p>
        <p>Policy Number: {{ current_case.Other_party_policy_Number }}</p>
        <p>Phone Number:{{ current_case.Other_party_Phone_Number }}</p>
    {% else %}
        <p>You are not assigned to a claim.</p>
    {% endif %}
</div>
<form action="{% url 'jobs:complete_claim' current_case.Claim_Id %}" method="post">
    {% csrf_token %}
    <input type="submit" class="btn" value="Mark Complete" name="mybtn">
</form>
{% endblock %}