<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Due Payments Page</title>
</head>
<h1> {{ currentUser }}, these Are Your Due Payments </h1>
<body>
     <div>
         <p>{% activePolicy.balance %}</p>
         <p>{% activePolicy.payment_due_date %}</p>
         {% if activePolicy.balance > 0 && due %}
         <p>Would you like to make a payment now?</p>
         <button type="button"><a href="{% url 'home:make_payment' %}">Make Payment</a></button>
         {% endif %}
     </div>
</body>
</html>