<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Information</title>
</head>
<h1>Vehicle Details Required</h1>
<body>
   <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      {# <button type="submit"><a href="{% url 'accounts:fill_vehicle_details' %}">Submit Another</a></button> #}
       <input type="submit" class="btn" value="Save and add another" name="save_and_add_another">
      <input type="submit" value="Submit"/>
   </form>
</body>
</html>