DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{vehicle_info.user_name}}'s Vehicle Details</title>
</head>
<h1>{{vehicle_info.user_name}}'s Vehicle Info </h1>
<body>
     <p>User Name: {{vehicle_info.user_name}}</p>
     <p>Car Model: {{vehicle_info.car_model}}</p>
     <p>Vehicle Registration Number: {{vehicle_info.vehicle_num}}</p>
     <p>Car's Condition: {{vehicle_info.car_condition}}</p>
     <p>Number of Collisions: {{vehicle_info.num_of_collisions}}</p>
     <p>Car Mileage: {{vehicle_info.car_mileage}}</p>
</body>
</html>

