<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Claim</title>
</head>
<body>
{% block content %}
    <div class="main">
        <p>&#187; <a href="">All Claims</a> &#187; Post Update</p>

        <h3>Claim Details</h3>

        <form action="" method="GET">
            {% csrf_token %}
            <table>
                {{ claim.Claim_Id }}
                <br>
                {{ claim.Drivers_Liscene_Number }}
                <br>
                {{ claim.VIN }}
                <br>
                {{ claim.Policy_Number }}
                <br>
                {{ claim.Claimed_Date }}
                <br>
                {{ claim.Description }}
                <br>
                {{ claim.Other_party_Name}}
                <br>
                {{ claim.Other_party_Phone_Number }}
                <br>
                {{ claim.Other_party_Insurance_company_Name }}
                <br>
                {{ claim.Other_party_policy_Number }}
                <br>

            </table>
        </form>

    </div>
{% endblock %}

</body>
</html>