<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Claim</title>
</head>
<body>
{% block content %}
    <div class="main">
        <h3>Claim Details</h3>

        <form action="" method="GET">
            {% csrf_token %}
            <table>
                Claim Id: {{ claim.Claim_Id }}
                <br>
                Driver's Liscence: {{ claim.Drivers_Liscene_Number }}
                <br>
                VIN: {{ claim.VIN }}
                <br>
                Policy Number: {{ claim.Policy_Number }}
                <br>
                Claimed Date: {{ claim.Claimed_Date }}
                <br>
                Claim Description: {{ claim.Description }}
                <h3>OTHER PARTY DETAILS:</h3>
                Name: {{ claim.Other_party_Name}}
                <br>
                Phone Number: {{ claim.Other_party_Phone_Number }}
                <br>
                Insurance company Name: {{ claim.Other_party_Insurance_company_Name }}
                <br>
                Policy Number: {{ claim.Other_party_policy_Number }}
                <br>

            </table>
        </form>

    </div>
{% endblock %}

</body>
</html>